<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="mailandsms.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <mailandsms.My.MySettings>
            <setting name="smtpServer" serializeAs="String">
                <value>smtp.googlemail.com</value>
            </setting>
            <setting name="fromAddress" serializeAs="String">
                <value>konte.yiannis@googlemail.com</value>
            </setting>
            <setting name="SMTLSSL" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SMTPPort" serializeAs="String">
                <value>587</value>
            </setting>
            <setting name="SMTPUsername" serializeAs="String">
                <value>konte.yiannis@googlemail.com</value>
            </setting>
            <setting name="SMTPPassword" serializeAs="String">
                <value>alla3e to</value>
            </setting>
            <setting name="mysqlServer" serializeAs="String">
                <value>83.212.99.225</value>
            </setting>
            <setting name="mysqlSSL" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mysqlPort" serializeAs="String">
                <value>3306</value>
            </setting>
            <setting name="mysqlUsername" serializeAs="String">
                <value>mailandsms</value>
            </setting>
            <setting name="mysqlPassword" serializeAs="String">
                <value>mailpassword$$</value>
            </setting>
            <setting name="mysqlDatabase" serializeAs="String">
                <value>mailsmsdb</value>
            </setting>
            <setting name="smsUsername" serializeAs="String">
                <value>gpapanto</value>
            </setting>
            <setting name="smsPassword" serializeAs="String">
                <value>4587dfg45</value>
            </setting>
        </mailandsms.My.MySettings>
    </userSettings>
</configuration>
